PORT=5000
DB_CONNECTION_STRING=mongodb+srv://dopehypedpunox:tBq0vDenxXLk9bHd@nodelearnings.ts4ptvt.mongodb.net/portfolio_cms
JWT_SECRET=e86b8c131580d9542f5f27289b024f3dae3c6f211a85cce6cda68cef8320169f
JWT_EXPIRE=8h
JWT_COOKIE_EXPIRE_HOURS=8
FRONTEND_URL=http://localhost:3000
NODE_ENV=development
